body{
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
/*HEADER*/
#check{
    display: none;
}
.checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#perfil{
    width: 250px;
    height: 250px;
    border-radius: 15%;
    border: 2px solid grey;
}
ol, ul{
    list-style: none;
}

header{
    display: flex;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 1em;
    padding: 0.5em;
}

header a i{
    color: beige;
    padding: 1.5em;
    font-size: 1em;
    
}

header nav ul{
    display: flex;
    gap: 1.5em;
}
.one{
    color: red;
}
  /* Estilos para pantallas pequeñas */
  @media (max-white: 768px){
    .checkbtn{
        display: block;
    }
    #encabezado ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #8E0E00;
        top: 80 px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
    }
  }

/*PERFIL DE PLATAFORMA*/
.sección-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.Acerca-de{
    flex: 1;
    max-width: 50%;
    text-align: end;    
}
.sección-1 h2 {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .sección-1 p{
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;     
  }
  .acerca-imagen{
    flex: 1;
    max-width: 50%;
    text-align: center;
  }

  /* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .sección-1 {
        flex-direction: column;
    }

    .Acerca-de, .acerca-imagen {
        max-width: 100%;
        text-align: center;
    }

    .Acerca-de {
        padding-bottom: 20px;
    }

    #perfil {
        width: 100%;
        max-width: 300px; /* Ajusta el ancho máximo de la imagen según sea necesario */
    }
}  
  /*PORTADA*/
.sección-2 img{
    width: 100%;
    border-radius: 30px;
    border: 5px solid slategrey;
}
/*FOOTER*/
footer{
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    border-radius: 5%;
}
#contacto{
    padding: 20px;
    align-items: center;
}
#footer{
    padding: 1em;
    list-style: none;
    color: beige;
}
#footer h3{
    margin-bottom: 10px;
    color: crimson;    
}
#footer a img{
    position: fixed;
    bottom: 22px;
    right: 39px;
    color: darkgreen;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid darkgreen;
}
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    #footer {
        flex-direction: column;
    }

    #footer ul li {
        display: block;
        margin-bottom: 10px;
    }

    #footer img {
        margin: 20px 0;
    }
}
div.greeting{
    background-color: azure;
    color: black;
}

/*Sección-3 "Trabajos"*/

.sección-3{
    width: 100%;
}
.sección-3 h2{
    color: crimson;
}
.imagen-trabajo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.imagen-trabajo img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 10px;
}
.imagen-trabajo .texto-imagen{
    text-align: center;
    font-size: 15px;
    margin: 5px;
}
/*ESTILO PARA PANTALLAS PEQUEÑAS*/
@media(max-width:768px){
    .sección-1{
        width: 45%;
    }
    .imagen-trabajo{
        flex-wrap: wrap;
    }
    .imagen-trabajo img{
        width: 100%;
        margin: 10px 0;
    }
    .sección-3{
        width: 45%;
    }
    .one li{
        float: none;
        display: block;
        text-align: center;
        width: 45%;
    }
    .one{
        overflow: hidden;
    }
    .Acerca-de p{
        width: 45%;

    }
}